body {
	background-color: rgb(200,255,180);
	.aho-wrapper {
		display: none;

		// Click through
		pointer-events:none;
		filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='your_transparent.png', sizingMethod='scale');
		background:none !important;

		position: fixed;
		top: 50%;
		left: 0;
		width: 100%;
		text-align: center;
		line-height: 0;
		.aho-notification {
			margin: auto;
			font-size: 200px;
			color: rgba(0,255,0,0.6);
			font-weight: normal;
			font-family: AnnieUseYourTelescope;
		}
	}
	.wrapper {
		line-height: 1.2em;
		max-width: 900px;
		margin: auto;
		display: block;
		.intro, .saysomething, .messages {
			margin: auto;
			display: block;
			background-color: white;
			-webkit-border-radius: 10px;
			border-radius: 10px;
			padding: 20px;
			margin: 20px;
			-webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,0.3);
			box-shadow: 0 3px 10px 0 rgba(0,0,0,0.3);
			textarea.message {
				max-width: 800px;
				max-height: 500px;
				resize: auto;
				word-wrap: break-word;
				display: block;
				height: 100px;
				width: 350px;
			}
		}
		.saysomething {
			p {margin-bottom: 0;}
		}
		.messages {
			.line {
				display: block;
				.aho {
					vertical-align: top;
					display: inline-block;
					width: 1.7em;
					text-align: center;
				}
				.date {
					vertical-align: top;
					display: inline-block;
					font-size: 0.6em;
					float: right;
				}
				.name {
					vertical-align: top;
					display: inline-block;
					font-weight: normal;
					&:after {content: ': '}
				}
				.message {
					vertical-align: top;
					display: inline-block;
					max-width: 600px;
				}
			}
		}
	}
}