template(name='body')
	.aho-wrapper
		.aho-notification AHOW!
	.wrapper
		.intro
			+intro
		
		.whatname
			if username
				p Palun, {{username}}, lisa oma arvamus:
				+saysomething
			else
				+whatname

		.messages
			+messages
