template(name='body')
	.aho-wrapper
		.aho-notification AHOW!
	.wrapper
		.intro
			+intro
		
		.whatname
			if username
				p Tere, <span style="font-weight: normal">{{username}}</span>.
				p Mida sina arvad, milline võiks ting.ee olla?
				+saysomething
			else
				+whatname

		.messages
			+messages
