template(name="chat")
	.chat-wrapper
		.themes
			+themes
		.chat
			.messages
				each messages
					p <span class="bold">{{username}}:</span> {{msg}}
			form(name="chatinput")
				input(name="msg")
				input(type="submit")
		.users
			+userlist