template(name='intro')
	h2 Uus Still family interneti kodu.
	p Internet on äge ja võimas. Paratamatult kasutame seda ka Tingi korraldamisel. Kuidas oleks, kui meil oleks hoopis oma väike interneti keskkond? Selline, kus võimalused vastavad <b>meie</b> vajadustele ja läbikäivat infot ei müüda maha nagu suvalist träni.
	p Nähtavasti on esimene vajalik vahend jututuba või infoseina moodi asi, kuhu kõigil on ligipääs. Aga esialgu koguks veidi ideid ja ettepanekuid, et mis sellest kohast siin võiks saada.
	p Lähtekood saab olema avatud ja avalik.