template(name='intro')
	h2 Uus Still family interneti kodu.
	p Internet on äge ja võimas. Paratamatult kasutavad ka seda looduslapsed oma kokkusaamiste korraldamiseks. Kuidas oleks, kui meil oleks hoopis oma väike interneti keskkond? Selline, kus võimalused vastavad <b>meie</b> vajadustele ja läbikäidava infoga ei kaubelda mustal turul.
	p Kirjutame siis siia kõik mõtted, milline ting.ee võiks olla, mis võimalusi sina siit ootaksid?
	p <span style="font-weight: normal">See mis sa siin näed on ting.ee visioneerimine!</span>