* {
	// list-style-type: none;
	padding: 0px;
    margin: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    outline: 0px;
}

#login-buttons {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
#login-dropdown-list {
    left: auto;
    right: 11px;
    top: 8px;
}
.u-red {
    color: red;
}

.u-green {
    color: rgb(0,220,0);
}

.u-transparent {
    color: transparent;
}

#login-buttons {
    right: 0;
    left: auto;
}

.corner-icons {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0.7em;
    .wrapper {
        cursor: pointer;
        white-space: nowrap;
        opacity: 0.5;
        vertical-align: top;
        text-align: center;
        display: inline-block;
        padding: 0.3em;
        padding-bottom: 1.5em;
        // width: 4em;
        & p {
            position: absolute;
            opacity: 0;
        }
        &:hover {
            opacity: 1;
            & p {
                opacity: 1;
            }
        }
    }
    .corner-icon {
        width: 3em;
        height: 3em;
    }
    .corner-help {
        display: none;
        p {
            font-family: "Lucida Console", monospace !important;
            font-size: 0.8em;
            color: rgba(0,0,0,0.8);
        }
        padding: 1em;
        border: 1px solid rgba(0,0,0,0.1);
        background-color: rgba(0,0,0,0.1);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
}

code {
    display: block;
    p {
        font-family: "Lucida Console", monospace !important;
    }
    padding: 1em;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.btn {
    cursor: pointer;
}

@media print {
    * {
        max-width: none !important;
        background-color: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    // hr elements are used for pagebreaks ("---" in markdown)
    hr {
        break-before: always;
        page-break-before: always;
        border: 0;
    }

    // Try not to break tables
    table {
        page-break-inside: avoid;
    }

    // Hide elements
    .corner-icons, .menu, #login-buttons, textarea[name="chat-msg"] {
        display: none !important;
    }

    // Hack your way through
    .wiki {
        padding-bottom: 1em; // Hide full-height scrollbar
        height: auto;
        .content {
            display: block; // Enable page-break in C and full length page in FF
        }
    }
    .formatted {
        padding-left: 2em !important; // Show list numbers
    }
    .module { // reset module positioning
        width: auto !important;
        height: auto !important;
        position: static !important;
        overflow: auto !important;
    }
}