.paper {
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 20px 90px rgba(250, 250, 150, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 20px 90px rgba(250, 250, 150, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 20px 90px rgba(250, 250, 150, 0.1);
	padding: 25px 40px;
	display: inline-block;
	margin: 1em;
	position: relative;
	min-width: 230px;
	background-color: white;
	word-break: break-word;
}

.paper h2 {
	margin-top: 0.5rem;
}

.paper:before, .paper:after
{
	position: absolute;
	width: 40%;
	height: 20px;
	content: ' ';
	left: 12px;
	bottom: 12px;
	background: transparent;
	-webkit-transform: skew(-5deg) rotate(-5deg);
	-moz-transform: skew(-5deg) rotate(-5deg);
	-ms-transform: skew(-5deg) rotate(-5deg);
	-o-transform: skew(-5deg) rotate(-5deg);
	transform: skew(-5deg) rotate(-5deg);
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	z-index: -1;
} 

.paper:after
{
	left: auto;
	right: 12px;
	-webkit-transform: skew(5deg) rotate(5deg);
	-moz-transform: skew(5deg) rotate(5deg);
	-ms-transform: skew(5deg) rotate(5deg);
	-o-transform: skew(5deg) rotate(5deg);
	transform: skew(5deg) rotate(5deg);
}
