template(name="bulkemail")
	.bulkemail
		if admin
			form(name="bulkemail")
				p From: Ting.ee
				p To: All {{peopleCount}} members
				input(name="subject" type="text" placeholder="subject" required)
				textarea(name="body" placeholder="body" rows="15" required)
				input(type="submit")
			form(name="testemail")
				p From: Ting.ee
				p To: krister
				input(name="subject" type="text" placeholder="subject" required)
				textarea(name="body" placeholder="body" rows="15" required)
				input(type="submit")
