template(name="chat")
	.chat
		.title
			p {{#if isLocked}}locked{{else}}open{{/if}}
			form(name='chat-topic')
				input(name='chat-topic' value="{{topic}}" disabled="disabled")
			.options
				if isOwner
					if isOptionsInProgress
						p.js-options-stop {{Translate "Click here if you're done editing"}}
					else
						p.js-rename {{Translate "Rename circle topic"}}
						p.js-type {{Translate "Toggle circle public visibility"}}
						if isSecret
							p.js-invite {{Translate "Allow or deny people to your secret circle"}}
						p.js-close {{Translate "Close the circle (messages will be gone forever)"}}
				else
					if is4eyes
						p {{Translate "Kahekõnel ei ole valikuid, mida muuta."}}
					else
						p {{Translate "Circle can be managed only by it's creator"}}
		.messages
			each messages
				p <b>{{username}}</b>: {{msg}}
		.input
			form(name='chat-msg')
				input(name="chat-msg")