template(name="chat")
	.chat
		.title
			.corner-icons
				.wrapper.js-type
					if isLocked
						img.corner-icon(src="/icon/eye-closed.svg")
						p {{Translate "Circle is private"}}
					else
						img.corner-icon(src="/icon/eye.svg")
						p {{Translate "Circle is public"}}
				if isOwner
					if isSecret
						.wrapper.js-invite
							img.corner-icon(src="/icon/add-user.svg")
							if isInviting
								p {{Translate "Finished inviting"}}
							else
								p {{Translate "Invite people"}}
					.wrapper.js-close
						img.corner-icon(src="/icon/trash.svg")
						p {{Translate "Close circle"}}
				if not4Eyes
					if subscribed
						.wrapper.js-subscribe
							img.corner-icon(src="/icon/mail-open.svg")
							p {{Translate "Subscribed"}}
					else
						.wrapper.js-subscribe
							img.corner-icon(src="/icon/mail-closed.svg")
							p {{Translate "No email"}}
			form(name='chat-topic')
				input.btn(name='chat-topic' value="{{topic}}")
		.messages
			each messages
				.message
					p.name {{username}} <br><span class="msgDate">{{msgDate}}</span>
					p.msg {{msg}}
		.input
			form(name='chat-msg')
				textarea(name="chat-msg")