template(name="wiki")
	.wiki
		.corner-icons
			if equals scrollIcon 'default'
				.wrapper
					img.corner-icon.js-edit-mode(src="/icon/scroll-default.svg")
					p {{Translate "Write"}}
			if equals scrollIcon 'edit'
				.wrapper
					img.corner-icon.js-edit-mode(src="/icon/scroll-edit.svg")
					p {{Translate "Save"}}
			if equals scrollIcon 'code'
				.wrapper
					img.corner-icon(src="/icon/scroll-code.svg")
					p {{Translate "Someone is writing"}}
			if equals scrollIcon 'black'
				.wrapper
					img.corner-icon(src="/icon/scroll-black.svg")
					p {{Translate "Authors lock"}}

			if scrollIcon
				if isOwner
					if locked
						.wrapper
							img.corner-icon.js-lock(src="/icon/locked.svg")
							p Autor muudab
					else
						.wrapper
							img.corner-icon.js-lock(src="/icon/unlocked.svg")
							p Kõigile muutmiseks
					.wrapper
						img.corner-icon.js-remove(src="/icon/trash.svg")
						p Eemalda
				.wrapper
					img.corner-icon.js-help(src="/icon/font.svg")
					p Spikker
				.markdown-help
					p # Esimese taseme pealkiri
					p ## Keskmine taseme pealkiri
					p ### Väike pealkiri
					br
					p Tavaline tekst  
					p _viltune tekst_  
					p **rasvane tekst**  
					p ~~läbi kriipsutatud tekst~~
					br
					p [see on link](http://link.ee)
					br
					p * Nimekiri
					p * Nimekiri
					p * Nimekiri
					br
					p 1. Nummerdatud nimekiri
					p 1. Nummerdatud nimekiri
					p 1. Nummerdatud nimekiri
					br
					p Tabeleid | saab ka | teha.
					p ---------|---------|------
					p Püstised | kriipsud| võta
					p kasvõi   | copy    | pastega
		.content
			if equals scrollIcon 'edit'
				textarea {{content}}
			else
				.formatted {{{content}}}
