template(name="wiki")
	.wiki
		if equals scrollIcon 'default'
			img.corner-icon.js-edit-mode(src="/icon/scroll.svg")
		if equals scrollIcon 'edit'
			img.corner-icon.js-edit-mode(src="/icon/scroll-edit.svg")
		if equals scrollIcon 'code'
			img.corner-icon(src="/icon/scroll-code.svg")
		if equals scrollIcon 'black'
			img.corner-icon(src="/icon/scroll-black.svg")
		.content
			if equals scrollIcon 'edit'
				textarea {{content}}
			else
				.formatted {{{content}}}
