template(name="wiki")
	.wiki
		.corner-icons
			if equals scrollIcon 'default'
				.wrapper.js-edit-mode
					img.corner-icon(src="/icon/scroll-default.svg")
					p {{Translate "Write"}}
			if equals scrollIcon 'edit'
				.wrapper.js-edit-mode
					img.corner-icon(src="/icon/scroll-edit.svg")
					p {{Translate "Save"}}
			if equals scrollIcon 'code'
				.wrapper
					img.corner-icon(src="/icon/scroll-code.svg")
					p {{Translate "Someone is writing"}}
			if equals scrollIcon 'black'
				.wrapper
					img.corner-icon(src="/icon/scroll-black.svg")
					p {{Translate "Authors lock"}}

			if scrollIcon
				if isOwner
					if locked
						.wrapper.js-lock
							img.corner-icon(src="/icon/locked.svg")
							p {{Translate "Only author can edit"}}
					else
						.wrapper.js-lock
							img.corner-icon(src="/icon/unlocked.svg")
							p {{Translate "Everyone can edit"}}
					.wrapper.js-remove
						img.corner-icon(src="/icon/trash.svg")
						p {{Translate "Remove wiki"}}
				.wrapper.js-corner-help.js-markdown-help
					img.corner-icon(src="/icon/font.svg")
					p {{Translate "Cheatsheet"}}
				.wrapper.js-corner-help.js-table-of-contents
					img.corner-icon(src="/icon/book.svg")
					p {{Translate "Table of contents"}}
				.corner-help.markdown-help
					p # Esimese taseme pealkiri
					p ## Keskmine taseme pealkiri
					p ### Väike pealkiri
					br
					p Tavaline tekst  
					p _viltune tekst_  
					p **rasvane tekst**  
					p ~~läbi kriipsutatud tekst~~
					br
					p [see on link](http://link.ee)
					br
					p * Nimekiri
					p * Nimekiri
					p * Nimekiri
					br
					p 1. Nummerdatud nimekiri
					p 1. Nummerdatud nimekiri
					p 1. Nummerdatud nimekiri
					br
					p Tabeleid | saab ka | teha.
					p ---------|---------|------
					p Püstised | kriipsud| võta
					p kasvõi   | copy    | pastega
				.corner-help.table-of-contents
					each tableOfContents
						p {{this}}
		if equals scrollIcon 'edit'
			textarea {{content}}
		else
			.content
				.formatted {{{content}}}
