template(name="body")
	+loginButtons
	if currentUser
		+circle
	else
		p Tekkis m천te proovida pealehele Olgeri ideed: kogutud huvitavad kogemused! 
		p Lugemiseks p체체a 체ks pall kinni, kirjutamiseks logi sisse.
		+guestbook