template(name="chat")
	.chat-wrapper
		+themes
		.chat
			.title
				with circle
					p Ringi teema:<span class="topic small-button">{{topic}}</span>
					p Ring on <span class="type small-button">{{type}}</span>
					p Autor on {{author}}
			.messages
				each messages
					p <span class="bold">{{username}}:</span> {{msg}}
			form(name="chatinput")
				input(name="msg")
				input(type="submit")
		+userlist