template(name="chat")
	.chat-wrapper
		+themes
		.chat
			.title
				with circle
					p Ringi teema: {{#if topicAuthor}}<span class="topic small-button">{{topic}}</span>{{else}}<span class="bold">{{topic}}</span>{{/if}}
					p Ring on {{#if is4eyes}}{{typeEst}}{{else}}<span class="type small-button">{{typeEst}}</span>{{/if}}
					if authorName
						p Autor on <span class="bold">{{authorName}}</span>
			.messages
				each messages
					p <span class="bold">{{username}}:</span> {{msg}}
			form(name="chatinput")
				input(name="msg")
				input(type="submit")
		+userlist