template(name="circle")
	.circle-wrapper
		+topics
		.circle
			.title
				with circle
					p Juturingi teema: {{#if topicAuthor}}<span class="topic small-button">{{topic}}</span>{{else}}<span class="bold">{{topic}}</span>{{/if}}
					br
					p Juturing on {{#if changeType}}<span class="type small-button">{{typeEst}}</span>{{else}}{{typeEst}}{{/if}}
					br
					p.red {{notice}}
					if authorName
						p Autor on <span class="bold">{{authorName}}</span>
					if topicAuthor
						p.delete.small-button Sulge ring
						p.invite-start.small-button Kutsu inimesi ringi
						p.invite-selected.small-button.hidden Vali soovitud inimesed ja vajuta uuesti siia
			.messages
				each messages
					p <span class="bold">{{username}}: </span>{{msg}}
			form(name="circleinput")
				input(name="msg")
				input(type="submit" value="Saada")
		+userlist