template(name="guestbook")
	.guestbook
		if messagePresent
			.textbox
				.text
					p(style="background-color:{{circleColor}}") {{guestbookMessage}}
		p {{items}}
		//- each items
		//- 	p(id="{{_id}}") {{msg}}