head
	title ting.ee
body
	+loginButtons
	if currentUser
		+menu
		+module
	else
		p Logi sisse paremalt -&gt;
		br
		p Registreerimisel vali omale ära tuntav 
		p nimi, muidu ei pruugi sisse saadagi.
