head
	title ting.ee
body
	+loginButtons
	if currentUser
		+menu
		+module
	else
		br
		br
		p Teretulemast Ting.ee uuele versioonile! (v2)
		p Pealeht olgu praegu tühi, ega see mingit
		p suurt populaarsust ei kogunud niikuinii.
		br
		p Praeguses versioonis on kõik samad funktsioonid
		p nagu oli varem. Nüüd näeb see vaid teistsugune
		p välja. Progesin selle nullist, seega kood on
		p seekord puhas ja turvaline.
		br
		p Olen pannud siia koos disainiga oma 3 päeva
		p sisse. Loodan, et teile meeldib :)
		br
		p Praktilised funktsioonid tulevad hiljem.
