head
	title ting.ee
body
	+loginButtons
	if currentUser
		+menu
		+module
	else
		p Logi sisse paremalt ->
		br
		p On uued korraldused sisselogimisel:
		p Et kogukonda sisse saada, peab olemasolev
		p liige sind nime järgi ära tundma ja su
		p sisse kutsuma.
		br
		p Kuigi on tore leiutada originaalseid
		p nimesid, siis keskkonna mõte oli ikkagi
		p online suhtlust mõnusamaks teha
		p ja kui kedagi kuskil ära ei tunne,
		p tekib vaid segadus. Loodan, et olete
		p minu otsusega nõus.
		br
		p Krister
