head
	title ting.ee
body
	+loginButtons
	if currentUser
		+menu
		+module
	else
		p Logi sisse paremalt ->
		br
		p On uued korraldused sisselogimisel:
		p Nüüd on vaja mõne kogukonna kasutaja kinnitust, et
		p vestlustes osaleda. Ehk siis, sul peab kasutajanimi
		p olema arusaadav, et keegi sind ära tunneks. Umbes
		p nagu facebookis on siiani olnud, et igaüks sisse ei saa.
		br
		p Ma lasin kõik sisse, keda ise tunnen. Ülejäänud on kogukonna
		p otsustada. Hetkel kehtib reegel, et on vaja viiendik kasutajate
		p nõusolekut, ehk mingi kahe või kolme liikme häält. Kui
		p oled kindel et sul sõbrad sees, aga sina ei saa, siis
		p võta nendega ühendust.
