template(name="menuItem")
	.menuItem(id="{{_id}}" module="{{#if module}}{{module}}{{else}}chat{{/if}}" type="{{#if username}}4eyes{{/if}}")
		p(class="{{#if isUnread}}u-red{{/if}}") <span class="{{userStatus}}">&#8226;</span> {{topic}}{{username}}{{#if hasAccess}}<img src="/icon/eye-gold.svg" class="icon js-svg">{{/if}}{{#if isLimited}}<span class="no-access {{#if myFriend}}my-friend{{/if}}">{{Translate "Invite in"}}</span>{{/if}}
