template(name="menu")
	.menu
		h2.heading {{Translate "Practical"}}
		.list.practical
			each practicalList
				+menuItem
		h2.heading {{Translate "Circles"}}
		.new-circle.button {{Translate "new circle"}}
		.list.circles
			each circleList
				+menuItem
		h2.heading {{Translate "People"}}
		.list.people
			each peopleList
				+menuItem