template(name="menuItem")
	.menuItem(id="{{_id}}" module="{{#if module}}{{module}}{{else}}chat{{/if}}" type="{{#if username}}4eyes{{/if}}")
		p(class="{{#if isUnread}}u-red{{/if}}") <span class="{{userStatus}}">&#8226;</span> {{topic}}{{username}}{{#if hasAccess}} *{{/if}}
