template(name="userlist")
	.userlist
		form(name="userlist")
			each users
				if selectUsers
					.selectUsers.username
						label
							input(type="checkbox" name="users" value=_id)
							p {{username}}
					br
				else
					p.username(id=_id) {{username}}
					br