template(name="userlist")
	.userlist
		h2 Kasutajad
		form(name="userlist")
			each users
				if selectUsers
					.selectUsers.username
						label
							input(type="checkbox" name="users" value=_id)
							p.small-button(class="{{#if newMessages}}red-border{{/if}}") {{username}}
					br
				else
					p.username.small-button(class="{{#if newMessages}}red-border{{/if}}" id=_id) {{username}}
					br