.chat {
	.title {
		.options {
			display: none;
		}
		input {
			width: 100%;
			outline: 0;
			font-size: 2rem;
				background-color: transparent;
				color: black;
				border: 0;
			&[disabled] {
			}
		}
	}
	.messages {
		max-width: 700px;
		margin: auto;
	}
	.input {
		max-width: 700px;
		margin: auto;
		input {
			width: 100%;
		}
	}
}