.chat {

	overflow: auto;
	height: 100%;
	.title {
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
		width: 100%;
		background-color: white;
		-webkit-box-shadow: 0 0 50px 30px #fff;
		box-shadow: 0 0 50px 30px #fff;
		padding: 1em;
		.lock {
			position: absolute;
			left: 0;
			top: 0;
			width: 2.6em;
			height: 2.6em;
			padding: 0.7em;
		}
		.options {
			display: none;
		}
		input {
			text-align: center;
			width: 100%;
			outline: 0;
			font-size: 2em;
			background-color: transparent;
			color: black;
			border: 0;
		}
	}
	.messages {
		max-width: 700px;
		margin: auto;
		padding-bottom: 2em;
		.message {
			display: block;
			padding-bottom: 1em;
			.name {
				font-weight: normal;
				vertical-align: top;
				text-align: right;
				width: 17%;
				display: inline-block;
				margin-right: 0.5em;
			}
			.msg {
				width: 79%;
				display: inline-block;
			}
		}
	}
	.input {
		max-width: 700px;
		margin: auto;
		textarea {
			resize: none; 
			max-height: 300px;
			max-width: 700px;
			position: absolute;
			bottom: 0;
			width: 100%;
		}
	}
}